<div style="display:inline-block; width:12%">
    <div class="level-left" style="font-size: xx-large">
        <a href="/" class="level-left">
            <span class="icon-text" style="padding-left: 5px">
                <span class="icon">
                    <i class="fas fa fa-home"></i>
                </span>
                <span style="font-size: xx-large">Home</span>
            </span>
        </a>
    </div>
</div>
<!--  
{% if current_user.is_authenticated %}
<div style="display:inline-block; width:82%">
    <div class="level-right" style="font-size: large">
        <span class="icon-text" style="padding-right: 5px">
            <span class="icon">
                <i class="fas fa fa-user"></i>
            </span>
            <span style="font-size: xx-large">Hello {{ name }}!</span>
        </span>
        <form method="POST" action="/logout">
            <button class="button is-info" type="submit" style="font-size: large">Logout</button>
        </form>
    </div>

</div>
{% endif %}
-->