<div style="width:100%">
    <div style="display:inline-block; width:12%">
        <div class="level-left" style="font-size: xx-large">
            <a href="/" class="level-left">
                <span class="icon-text" style="padding-left: 5px">
                    <span class="icon">
                        <i class="fas fa fa-home"></i>
                    </span>
                    <span style="font-size: xx-large">Home</span>
                </span>
            </a>
        </div>
    </div>
    <% if user_signed_in? %>
    <div style="display:inline-block; width:82%">
        <div class="level-right" style="font-size: large">
            <span class="icon-text" style="padding-right: 5px">
                <span class="icon">
                    <i class="fas fa fa-user"></i>
                </span>
                <span style="font-size: xx-large"> Hello <%= current_user.name %>! </span>
            </span>
            <button class="button is-info" type="submit" style="font-size: large">
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </button>
        </div>
    </div>
    <% end %>
    <!--  
    {% if current_user.is_authenticated %}
    <div style="display:inline-block; width:82%">
        <div class="level-right" style="font-size: large">
            <span class="icon-text" style="padding-right: 5px">
                <span class="icon">
                    <i class="fas fa fa-user"></i>
                </span>
                <span style="font-size: xx-large">Hello {{ name }}!</span>
            </span>
            <form method="POST" action="/logout">
                <button class="button is-info" type="submit" style="font-size: large">Logout</button>
            </form>
        </div>
    </div>
    {% endif %}
    -->
</div>

<% if notice %>
    <div class="notification is-info has-text-centered">
        <%= notice %>
    </div>
<% else %>
    <div class="notification is-info has-text-centered">
        no notices
    </div>
<% end %>
&nbsp;