<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <p class = "title" style="font-size:xxx-large;">
            Welcome to Travel Agency!
        </p>
    </div>
</section>
<br/>
<div class="hero-bodyhas-text-centered" style="text-align:center; padding-bottom: 10px;">

    <% if user_signed_in? %>
        <%= link_to "offers", offers_path, class: "button is-success"  %>
        <% if user_signed_in? && current_user.role.class == Client %>
        <%= link_to "reservations", reservations_path, class: "button is-success"  %>
        <% end %>
    <% else %>
        <%= link_to "Log in", new_user_session_path, class: "button is-success"  %>
    <% end %>
</div>
