
<div class="hero-bodyhas-text-centered" style="text-align:center; padding-bottom: 10px;">
    <h1>Welcome to Travel Agency!</h1>

    <% if user_signed_in? %>
        <%= link_to "offers", offers_path, class: "button is-success"  %>
    <% else %>
        <%= link_to "Log in", new_user_session_path, class: "button is-success"  %>
    <% end %>
</div>
