<section class="hero is-primary is-fullheight">
    <div class="hero-bodyhas-text-centered" style="text-align:center; padding-bottom: 10px;">
        <p class = "title">
            Travel Agency
        </p>
        <p class = "subtitle">
            Jakub Łęcki, Kacper Ziółkowski
        </p>
        <div class="level-right" style="padding-right: 30px; padding-bottom: 5px; font-size: large">
            &nbsp;
         </div>
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form method="POST" action="/login-post" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input name="email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input name="password" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button is-success">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>